<div class="d-flex flex-column align-items-start">
  <button type="button" class="btn btn-primary mb-2">Pending</button>
  <small class="text-muted">Your connection request has been send, but it is in pending state. You will get connected once 
    <span class="fw-bold"><%= connector.name %></span> will accept your connection request</small>
</div>
